{% extends 'base.html' %}

{% block title %}Feedback{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Feedback</h1>

			<p>Provide feedback for <em>{{request.subject.name}}</em> for the <em>{{request.description}}</em></p>

			<form method="POST">
				{% for question in request.questions %}
				<div class="form-group">
				<label for="q{{loop.index}}">{{question}}</label>
				<textarea id="q{{loop.index}}" name="question" class="form-control" rows="4" required></textarea>
				</div>
				{% endfor %}
				<button class="btn btn-default">Provide feedback</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}