{% extends 'base.html' %}

{% block title %}Feedback{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Provide feedback</h1>

			{% if show_summary %}
			<p>You have requested this feedback and can see the <a href="/request/{{request.key.urlsafe()}}/summary">summary</a></p>

			<form method="POST" action="/feedback/invitation/{{request.key.urlsafe()}}">

				<div class="form-group">
				<label for="emails">Invite people via email</label>
				<input type="text" id="emails" name="emails" class="form-control" required>
				</div>

				<div class="form-group">
				<button class="btn btn-default">Invite</button>
				</div>
			</form>

			{% if show_delete %}
			<form method="POST" action="/request/{{request.key.urlsafe()}}/delete">
				<div class="form-group">
				<button class="btn btn-default">Delete request</button>
				</div>
			</form>

			{% endif %}

			<form method="POST" action="/request/{{request.key.urlsafe()}}/status">
			{% if request.active %}
				<input type="hidden" name="status" value="inactive">
			{% else %}
				<input type="hidden" name="status" value="active">
			{% endif %}
				<div class="form-group">
				<button class="btn btn-default">{% if request.active %}Deactivate{% else %}Activate{% endif %}</button>
				</div>
			</form>

			{% endif %}

			<p>Provide feedback for <em>{{request.subject.get().name}}</em> as part of their <em>{{request.description}}</em></p>

			{% if saved %}
			<p class="text-success"><strong>Your feedback has been saved</strong></p>
			{% endif %}

			<form method="POST">
				{% for question in request.questions %}
				<div class="form-group">
				<label for="q{{loop.index}}">{{question}}</label>
				<textarea id="q{{loop.index}}" name="{{question}}" class="form-control" rows="4">{% if question in feedback %}{{feedback[question]}}{% endif %}</textarea>
				</div>
				{% endfor %}
				<button class="btn btn-default">Provide feedback</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}