{% extends 'base.html' %}

{% block title %}Interview{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Interview</h1>

			<p>Record the details of an interview</p>

			<form>
				<div class="form-group">
				<label for="candidate-name">Candidate name</label>
				<select id="candidate-name">
					<option>Jane Doe</option>
					<option>Louisa Placeholder</option>
				</select>
				</div>
				<div class="form-group">
				<label for="interview-type">Kind of interview</label>
				<select id="interview-type" name="type">
					<option>Phone screen</option>
					<option>Remote</option>
					<option>Pairing</option>
					<option>Face to face</option>
				</select>
				</div>
				<div class="form-group">
				<label for="interview-type">Outcome</label>
				<select id="interview-type" name="outcome">
					<option>Proceed</option>
					<option>Reject</option>
				</select>
				</div>
				<button>Save</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}