{% extends 'base.html' %}

{% block title %}Request feedback{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>Request feedback</h1>

			<p>Request feedback for someone</p>

			<form method="POST">
				<div class="form-group">
				<label for="email">Person's email</label>
				<input type="email" id="email" name="email" class="form-control"required>
				</div>
				<div class="form-group">
				<label for="format">Feedback format</label>
				<select id="format" name="format" class="form-control">
					<option>Start - Continue - Stop</option>
					<option>AID</option>
					<option>Impact</option>
				</select>
				</div>

				<button>Request feedback</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}