{% extends 'base.html' %}

{% block title %}Feedback summary{% endblock %}

{% block content %}
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h1>{{request.subject.get().name}}</h1>
			<p>{{request.description}}</p>
			<p>Current responders: {{respondees | join(", ")}}</p>
		</div>

		{% if summary %}
		<div class="col-md-12"><h2>Summary</h2></div>
		{% endif %}

		{% for question in summary.keys() %}
		<div class="col-md-12">
			<dl>
				<dt>{{question}}</dt>
				<dl>
					<ul>
						{% for feedback in summary[question] %}
						<li><pre>{{feedback}}</pre></li>
						{% endfor %}
					</ul>
				</dl>

			</dl>
		</div>
		{% endfor %}

		{% if responses %}
		<div class="col-md-12"><h2>Breakdown</h2></div>
		{% endif %}

		{% for response in responses %}
		<div class="col-md-12">
			<ul>
				<li>{{response.provider}}</li>
				<li>{{response.question}}</li>
				<li><pre>{{response.feedback}}</pre></li>
			</ul>
		</div>
		{% endfor %}
	</div>

</div>

{% endblock %}
