{% extends 'base.html' %}

{% block title %}Feedback summary{% endblock %}

{% block content %}
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<h1>{{request.subject.get().name}}</h1>
			<p>{{request.description}}</p>
			<p>Current responders: {{respondees | join(", ")}}</p>

			<p><a href="/request/{{request.key.urlsafe()}}/summary/text">Text view</a></p>
		</div>

		{% if summary %}
		<div class="col-md-12"><h2>Summary</h2></div>
		{% endif %}

		{% for question in summary.keys() %}
		<div class="col-md-12">
			<dl>
				<dt>{{question}}</dt>
				<dl>
					{% for feedback in summary[question] %}
					<section><pre>{{feedback}}</pre></section>
					{% endfor %}
				</dl>

			</dl>
		</div>
		{% endfor %}

		{% if responses %}
		<div id="breakdown" class="col-md-12"><h2>Breakdown</h2></div>

		{% for response in responses %}
		<div class="col-md-12">
			<ul>
				<li>{{response.provider}}</li>
				<li>{{response.question}}</li>
				<li><pre>{{response.feedback}}</pre></li>
			</ul>
		</div>
		{% endfor %}

		{% endif %}

		{% if summary %}
		<div class="col-md-12">
			<h2 id="copy-ready">Cut and paste</h2>

			<h3>Questions</h3>

			<textarea readonly class="form-control" rows="3">{{summary.keys() | join('\n')}}</textarea>

			{% for question in summary.keys() %}
			<section>
				<h3>{{question}}</h3>
				<textarea readonly class="form-control" rows="3">{% for feedback in summary[question] %}{{feedback}}&#13;&#10;{% endfor %}</textarea>

			</section>
			{% endfor %}
		</div>
		{% endif %}

	</div>

</div>

{% endblock %}
